<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to the Meeting Planner!</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur sunt
      magni officiis eum porro possimus? Non, eos. Adipisci, blanditiis, maxime
      voluptas modi facilis nihil aliquam dolorem quae voluptates cumque veniam?
    </p>
    <p>There are currently {{meeting_count}} meetings in the database</p>
  </body>
</html>
